{{define "title"}}Home{{end}}
{{define "main"}}
  <div class="homepage bg_wrapper">
    <div class="logo">
      <img src="/static/img/chef-white.png" alt="Baker logo" />
    </div>
    <div>
      <h3>
        Take the Guesswork Out of Your <br />
        Daily Production!
      </h3>
      <a href="/signup"><button>Get started</button></a>
    </div>
  </div>
{{end}}