:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #883d2a;
  --secondary: #f6cba8;
  --accent: #e1d2cd;
  --dark: #333333;

  --small: 12px;
  --normal: 14px;
  --medium: 16px;
  --big: 18px;

  --plus: "Plus Jakarta Sans";
  --dela: "Dela Gothic One";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--normal);
  font-family: var(--dela), sans-serif;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  overflow-y: scroll;
  background-color: var(--accent);
}

header,
nav,
section,
footer {
  padding: 2px calc((100% - 800px) / 2) 0;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--primary);
  text-decoration: underline;
}

main {
  min-height: calc(100vh - 345px);
  overflow: auto;
}

h1 a {
  font-size: 36px;
  font-weight: bold;
  background-image: url("../img/chef.png");
  background-repeat: no-repeat;
  background-position: 0px 7px;
  background-size: 40px 40px;
  height: 36px;
  padding-left: 45px;
  position: relative;
}

h1 a:hover {
  text-decoration: none;
  color: var(--black);
}

h2 {
  font-size: 16px;
  margin-bottom: 36px;
  position: relative;
  color: var(--primary);
}

header {
  background: -webkit-linear-gradient(
    to right,
    #f5e4e1,
    #f5e4e1 25%,
    #e1d2cd 25%,
    #e1d2cd 35%,
    #dcc5bc 35%,
    #dcc5bc 45%,
    #d3b4a5 45%,
    #d3b4a5 55%,
    #c4a79c 55%,
    #c4a79c 65%,
    #b4948e 65%,
    #b4948e 75%,
    #9e7e75 75%,
    #9e7e75 85%,
    #8a6b64 85%,
    #8a6b64 95%,
    #7b5c55 100%,
    #7b5c55 100%
  );

  background: -moz-linear-gradient(
    to right,
    #f5e4e1,
    #f5e4e1 25%,
    #e1d2cd 25%,
    #e1d2cd 35%,
    #dcc5bc 35%,
    #dcc5bc 45%,
    #d3b4a5 45%,
    #d3b4a5 55%,
    #c4a79c 55%,
    #c4a79c 65%,
    #b4948e 65%,
    #b4948e 75%,
    #9e7e75 75%,
    #9e7e75 85%,
    #8a6b64 85%,
    #8a6b64 95%,
    #7b5c55 100%,
    #7b5c55 100%
  );

  background: -ms-linear-gradient(
    to right,
    #f5e4e1,
    #f5e4e1 25%,
    #e1d2cd 25%,
    #e1d2cd 35%,
    #dcc5bc 35%,
    #dcc5bc 45%,
    #d3b4a5 45%,
    #d3b4a5 55%,
    #c4a79c 55%,
    #c4a79c 65%,
    #b4948e 65%,
    #b4948e 75%,
    #9e7e75 75%,
    #9e7e75 85%,
    #8a6b64 85%,
    #8a6b64 95%,
    #7b5c55 100%,
    #7b5c55 100%
  );

  background: linear-gradient(
    to right,
    #f5e4e1,
    #f5e4e1 25%,
    #e1d2cd 25%,
    #e1d2cd 35%,
    #dcc5bc 35%,
    #dcc5bc 45%,
    #d3b4a5 45%,
    #d3b4a5 55%,
    #c4a79c 55%,
    #c4a79c 65%,
    #b4948e 65%,
    #b4948e 75%,
    #9e7e75 75%,
    #9e7e75 85%,
    #8a6b64 85%,
    #8a6b64 95%,
    #7b5c55 100%,
    #7b5c55 100%
  );
  background-size: 100% 6px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #e4e5e7;
  overflow: auto;
  padding-top: 33px;
  padding-bottom: 27px;
  text-align: center;
}

header a,
h3,
p {
  color: var(--dark);
  text-decoration: none;
}

header h3 {
  font-size: 25px;
}

h3 span {
  font-size: 40px;
  color: #333333;
}

header span nav {
  border-bottom: 1px solid #e4e5e7;
  padding-top: 17px;
  padding-bottom: 15px;
  background: #b4a29b;
  height: 60px;
}

nav a {
  margin-right: 1.5em;
  display: inline-block;
  text-decoration: none;
}

nav form {
  display: inline-block;
  margin-left: 1.5em;
}

nav div {
  width: 50%;
  float: left;
}

nav div:last-child {
  text-align: right;
}

nav div:last-child a {
  margin-left: 1.5em;
  margin-right: 0;
}

nav a.live {
  color: var(--dark);
  cursor: default;
}

nav a.live:hover {
  text-decoration: none;
}

nav a.live:after {
  content: "";
  display: block;
  position: relative;
  left: calc(50% - 7px);
  top: 9px;
  width: 14px;
  height: 14px;
  background: #f7f9fa;
  border-left: 1px solid #e4e5e7;
  border-bottom: 1px solid #e4e5e7;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(-45deg);
}

section {
  margin-top: 54px;
  margin-bottom: 54px;
  overflow: auto;
}

.bg_wrapper {
  min-height: 100vh;
  background-image: url("../img/Group1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.1);
}

.homepage {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--white);

  .logo {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 1rem;
    top: 1rem;

    img {
      width: 80px;
      height: 80px;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
  }

  h3 {
    font-size: 45px;
    line-height: 1.3;
    text-align: center;
    color: var(--white);
  }

  button {
    background-color: var(--white);
    border-radius: 3px;
    color: --dark;
    padding: 18px 27px;
    border: none;
    display: inline-block;
    font-weight: 700;
    cursor: pointer;
    font-family: inherit;
  }

  button:hover {
    opacity: 0.8;
  }
}

a.button,
.features-add-btn,
.features-continue-btn,
input[type="submit"] {
  background-color: var(--primary);
  border-radius: 3px;
  color: #ffffff;
  padding: 18px 27px;
  border: none;
  display: inline-block;
  margin-top: 18px;
  font-weight: 700;
}

a.button:hover,
.features-add-btn:hover,
.features-continue-btn:hover,
input[type="submit"]:hover {
  background-color: #a54e38;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

form div {
  margin-bottom: 18px;
}

form div:last-child {
  border-top: 1px dashed #e4e5e7;
}

form input[type="radio"] {
  margin-left: 18px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
  padding: 0.75em 18px;
  width: 100%;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
textarea {
  color: var(--dark);
  background: #b4a29b;
  border: 1px solid #b4a29b;
  border-radius: 1px;
}

form label {
  display: inline-block;
  margin-bottom: 9px;
  color: var(--dark);
}

.error {
  color: #c0392b;
  font-weight: bold;
  display: block;
}

.error + textarea,
.error + input {
  border-color: #c0392b !important;
  border-width: 2px !important;
}

textarea {
  padding: 18px;
  width: 100%;
  height: 266px;
}

.features {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 0.5rem;
  margin-bottom: 30px;

  div {
    position: relative;
    width: fit-content;
    background-color: var(--primary);
    border-radius: 3px;
    padding: 8px 10px;
    color: var(--white);
  }

  div span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 10px;
    right: -4px;
    top: -4px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    color: var(--dark);
    background: #f7f9fa;
    cursor: pointer;
    transition: scale 0.5ms ease;
  }

  div span:hover {
    transform: scale(1.1);
  }
}

.features-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.import-desc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;

  b {
    color: var(--primary);
  }
}

table {
  background: var(--primary);
  border: 1px solid #e4e5e7;
  border-collapse: collapse;
  width: 100%;
  color: var(--white);
}

td,
th {
  text-align: left;
  padding: 9px 18px;
}

th:last-child,
td:last-child {
  text-align: right;
}

tr {
  border-bottom: 1px solid #e4e5e7;
}

.upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  min-height: 300px;
  background-color: #b4a29b;

  button {
    padding: 13px 20px;
    border: 1px solid var(--dark);
    border-radius: 40px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: all 0.5ms ease;
  }

  button:hover {
    background-color: var(--dark);
    color: white;
  }
}
